/* CSS CLASSES */
.font-white {
  color: white;
}

.font-gray {
  color: gray;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.row {
  flex-flow: row;
}

.center {
  justify-content: center;
}

.background-color {
  background-color: #0c1821;
}

.button {
  border: 0.15rem solid white;
  margin: 1.5rem 1rem;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.button-link {
  padding: 1rem;
}

/* CSS BODY */
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.logo {
  font-size: 10rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

main {
  padding: 2rem;
}

footer {
  margin-top: auto;
}

footer div {
  margin: 0.5rem;
  font-size: small;
}

footer div:last-child {
  margin-left: auto;
}

img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

a {
  font-weight: bold;
  align-items: center;
  text-decoration: none;
}